.book-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    max-width: 500px;
    min-width: 183px;
    /* text-align: center; */
    flex: 1 1 calc(20% - 20px);
    box-sizing: border-box;
    position: relative;
  }
  .book-card h3 {
    font-size: 15px;
    margin: 10px 0;
  }
  
  .book-card p {
    font-size: 13px;
    margin: 10px 0px;
  }
  
  .add-button, .added-button {
    padding: 10px;
    margin-top: 10px;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .add-button:hover {
    background-color: #45a049;
  }
  
  .added-button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
  }  
  @media (max-width: 768px) {
    .book-card {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .book-card {
      flex: 1 1 calc(100% - 20px);
      min-width: none;
      max-width: 300px;
    }
  }
  